a {
  padding-left: 5px;
}

.App {
  text-align: center;
  position: relative;
  height: 100%;
  color: #eee;

  display: flex;
  flex-direction: column;
  align-content: center;
}

.header {
  display: block;
}

.App-footer {
  padding: 10px;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
